name: Terraform EKS Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: us-east-2
  TF_DIR: terraform-code-eks

jobs:
  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials via Secrets
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=${{ env.TF_DIR }} init

      - name: Terraform Validate
        run: terraform -chdir=${{ env.TF_DIR }} validate

      - name: Terraform Plan
        run: terraform -chdir=${{ env.TF_DIR }} plan -out=tfplan

      - name: Terraform Apply
        run: terraform -chdir=${{ env.TF_DIR }} apply -auto-approve tfplan
