name: Terraform EKS Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: us-east-2
  TF_DIR: terraform-code-eks

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: terraform -chdir=${TF_DIR} init

      - name: Terraform Validate
        run: terraform -chdir=${TF_DIR} validate

      - name: Terraform Plan
        run: terraform -chdir=${TF_DIR} plan

      - name: Terraform Apply
        run: terraform -chdir=${TF_DIR} apply -auto-approve
